<section class="py-5 blog">
  <div class="container">
    <h2 class="is-size-3 has-text-weight-semibold py-5 mb-5">Blog</h2>
    <div class="slider blog-slider">
      <div class="slide">
        <img src="/images/blog1.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog2.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog3.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog4.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog1.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog2.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog3.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
      <div class="slide">
        <img src="/images/blog4.png" class="img-fluid" alt="Blog img" />
        <p>Den weltweit ersten community basierten Investmentfonds</p>
      </div>
    </div>
  </div>
</section>
