<section class="py-5 community">
  <div class="container custom-container">
    <h2 class="is-size-3 has-text-weight-semibold py-5 mb-5">Community</h2>
    <div class="columns is-8 is-variable mb-6">
      <div class="column">
        <p class="has-text-weight-bold custom-mb">
          Artus basiert auf einer starken Community
        </p>
        <br />
        <p class="has-text-justified">
          Die Entwicklung der Community ist einer der größten und wichtigsten
          Schritte. Artus wird Dir eine App bieten, in der Du mit Anlegern auf
          der ganzen Welt interagieren kannst. Alle verbindet das Ziel Artus
          groß zu machen. <br /><br />In der App bekommst Du die Möglichkeit,
          eigene Empfehlungen direkt an unser Fondsmanagement auszusprechen.
        </p>
      </div>
      <div class="column">
        <p class="has-text-weight-bold">
          Gemeinsames Voting nimmt direkten Einfluss auf
          Investmententscheidungen
        </p>
        <br />
        <p class="has-text-justified">
          Zusätzlich kannst Du sehen, welche Empfehlungen andere Mitglieder
          ausgesprochen haben und diese up- oder downvoten. Diese Votes haben
          direkten Einfluss auf die Managemententscheidungen und versprechen ein
          unglaubliches Renditepotenzial.<br /><br />
          Mit Deiner Unterstützung in unserer Funding- Kampagne hilfst Du dabei,
          das volle Potenzial von Artus auszubauen.
        </p>
      </div>
    </div>
    <a class="button is-rounded" href="#" target="_blank">Werde zum Helden</a>
    <a
      class="button has-text-weight-semibold ml-3 button-arrow"
      href="#"
      target="_blank"
    >
      <span class="icon">
        <i class="fas fa-arrow-up fa-rotate-45" aria-hidden="true"></i>
      </span>
    </a>
    <img src="/images/community.png" class="img-fluid my-6" alt="community" />
  </div>
</section>
