<section class="py-5 fonds">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="is-size-3 has-text-weight-semibold mb-5">Der Fonds</h2>
      </div>
      <div class="column">
        <h3 class="is-size-4 has-text-weight-semibold mb-5">
          Gestalte den Fonds interaktiv mit
        </h3>
        <p class="has-text-justified my-6">
          Der wichtigste Aspekt unseres Fonds ist die Interaktion mit jedem
          einzelnen Anleger. Innerhalb unserer Artus-App wirst Du deshalb die
          Möglichkeit haben, aktiv durch Empfehlungen und eigenes
          Investitionsverhalten in das Fondsmanagement einzugreifen.<br /><br />Unser
          Fonds wird somit der erste Investmentfonds der Welt, dessen positive
          Entwicklung Du aktiv mitgestalten kannst.
        </p>
        <img src="/images/fonds.png" class="img-fluid" alt="Fonds" />
        <h3 class="is-size-4 has-text-weight-semibold my-6">
          Realisiere mit uns den stärksten Fonds
        </h3>
        <p class="has-text-justified my-6">
          Die konkrete Umsetzung des Fonds richtet sich nach dem Umsatz, welcher
          mit der Funding-Kampagne erzielt wird. Wenn nach Ablauf der Kampagne
          das Ziel von 100.000 € erreicht ist, arbeiten wir mit einer
          Partnergesellschaft an der Umsetzung des Fonds.<br /><br />

          Wenn dieses Fundingziel sogar überschritten wird und mindestens
          350.000 € beträgt, gründen wir ein eigenes Investmentunternehmen und
          realisieren den Fonds ohne Partnergesellschaft. Das spart erhebliche
          Kosten und mögliche Abhängigkeiten ein.<br /><br />

          Die Realisierung ist abhängig von einer starken Community, die
          zusammenhält und ein gemeinsames Ziel verfolgt. Mit dir als Teil der
          Artus-Bewegung können wir alles erreichen!
        </p>
        <a class="button is-rounded" href="#" target="_blank"
          >Werde zum Helden</a
        >
        <a
          class="button has-text-weight-semibold ml-3 button-arrow"
          href="#"
          target="_blank"
        >
          <span class="icon">
            <i class="fas fa-arrow-up fa-rotate-45" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-5 sq-columns">
  <h2
    class="is-size-3 has-text-weight-semibold py-5 has-text-centered mb-5 px-5"
  >
    Die Werte von Artus sind heldenhaft
  </h2>
  <div class="container-fluid">
    <div class="columns m-0 is-size-5">
      <div class="column"><p>Ehrlichkeit</p></div>
      <div class="column"><p>Transparenz</p></div>
      <div class="column"><p>Soziales Engagement</p></div>
      <div class="column"><p>Gemeinschaft</p></div>
      <div class="column"><p>Aktives Management</p></div>
    </div>
    <div class="columns m-0 is-size-5">
      <div class="column"><p>Offenheit</p></div>
      <div class="column skip"><p>Keine vorsätzlichen Leerverkäufe</p></div>
      <div class="column"><p>Ethische Korrektheit</p></div>
      <div class="column"><p>Stärke</p></div>
      <div class="column"><p>Interaktion</p></div>
    </div>
  </div>
</section>
