<footer>
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        {{ '/src/Sword_Artus.svg' | svgContents | safe }}
      </div>
      <div class="column is-2">
        <p class="column-title mb-3">Navi</p>
        <nav>
          <a href="/der_fonds.html">Der Fonds</a>
          <a href="/community.html">Community</a>
          <a href="/blog">Blog</a>
          <a href="/kontakt">Kontakt</a>
          <a href="/faq">FAQ</a>
        </nav>
      </div>
      <div class="column is-2">
        <p>
          <span class="column-title mb-3"> Info</span> <br />ARTUS.one GmbH
          i.G.<br />
          Rechtliche Vertretung 88<br />
          Name der Kanzlei 88888
        </p>
      </div>
      <div class="column is-2">
        <p>
          <span class="column-title mb-3">Contacts</span><br />
          info@artus.one<br />
          01234 5678910
        </p>
      </div>
    </div>
    <hr class="column-title" />
    <div class="sub">
      <p>
        <span class="column-title">Artus 2021 - All rights reserverd</span>
        <a href="/datenschutz.html">Datenschutz</a>
        <a href="/impressum.html">Impressum</a>
      </p>
    </div>
  </div>
</footer>
