<section class="py-5 kontakt">
  <div class="container custom-container">
    <h2 class="is-size-3 has-text-weight-semibold py-5">Kontakt</h2>
    <form action="#" method="POST" target="hiddenFrame" onsubmit="">
      <label for="name">Name</label><br />
      <input type="text" class="form-control" id="name" name="name" required />
      <hr />
      <label for="email">E-Mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
      <hr />
      <label for="frage">Frage</label>
      <textarea
        class="form-control"
        id="frage"
        rows="5"
        name="frage"
      ></textarea>
      <input type="checkbox" id="kontakt-check" name="kontakt-check" required />
      <p style="display: inline-block">
        Ich bin mit der Verarbeitung meiner Daten einverstanden.
      </p>
      <br />
      <a
        class="button button-reverse is-rounded subtext mt-4 mb-6"
        href="#"
        target="_blank"
        >Absenden</a
      >
    </form>
  </div>
</section>
