<section class="py-5 bewegung">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="is-size-4 has-text-weight-semibold mb-5">
          Werde Teil der Artus-Bewegung
        </h3>
        <p class="has-text-justified">
          Inspiriert durch die Reddit-Bewegung und die Entwicklungen, welche die
          Börse international zum Beben brachten, präsentieren wir Artus — den
          weltweit ersten communitybasierten Investmentfonds, bei dem Du als
          Teil der Community zum Fondsmanager wirst.<br /><br />Werde Teil der
          Bewegung und unterstütze die Funding-Kampagne zur Realisierung dieses
          revolutionären Fonds. Ziehe gemeinsam mit uns das Schwert aus dem
          Felsen und erwecke Artus zum Leben!
        </p>
      </div>
      <div class="column">
        <img
          src="/images/bewegung.png"
          class="img-fluid"
          alt="Artus bewegung"
        />
      </div>
    </div>
  </div>
</section>

<section class="erwecke py-5 has-text-white">
  <div class="container custom-container my-6">
    <h2 class="is-size-3 has-text-weight-semibold mb-5">
      Erwecke Artus zum Leben
    </h2>

    <div class="columns count">
      <div class="column has-text-left">
        <p class="is-size-3 has-text-weight-bold">€ 141.362</p>
        <p class="is-size-6 subtext">Ziel: 300,000 €</p>
      </div>
      <div class="column has-text-centered">
        <p class="is-size-3 has-text-weight-bold">2.339</p>
        <p class="is-size-6 subtext">Unterstützer:innen</p>
      </div>
      <div class="column has-text-right">
        <p class="is-size-3 has-text-weight-bold">8</p>
        <p class="is-size-6 subtext">Tage</p>
      </div>
    </div>

    <progress class="progress my-5 is-progress is-small" value="70" max="100">
      70%
    </progress>

    <div class="columns has-text-white nicolas">
      <div class="column is-size-1">
        <img src="/images/nicolas.png" alt="Nicholas" />
        <div style="display: inline-block">
          <p class="subtext has-text-weight-semibold">Nicholas</p>
          <p class="subtext">vor 19 Tage</p>
        </div>
      </div>
      <div class="column is-size-1">
        <img src="/images/nicolas.png" alt="Nicholas" />
        <div style="display: inline-block">
          <p class="subtext has-text-weight-semibold">Nicholas</p>
          <p class="subtext">vor 19 Tage</p>
        </div>
      </div>
      <div class="column is-size-8 has-text-right">
        <div class="my-5">
          <span class="subtext has-text-weight-semibold">Share</span>
          <span class="icon px-5">
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
          </span>
          <span class="icon px-5">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </span>
          <span class="icon px-5">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <a
      class="button button-reverse is-rounded subtext mt-4 mb-6"
      href="#"
      target="_blank"
      >Unterstützen</a
    >

    <p class="has-text-justified subtext mb-6">
      Sichere Dir eine heldenhafte Belohnung! Alle Unterstützer erhalten bei
      Kampagnenerfolg eine exklusive Artus Münze und gratis Zugang zur Artus
      App. Die ersten 5.000 Unterstützer erhalten zusätzlich eines der
      limitierten Artus Shirts.
    </p>
  </div>
</section>
