<section class="py-5 nevensub">
  <div class="container custom-container">
    <div class="columns is-8 is-variable">
      <div class="column is-5">
        <img src="/images/N2S_LOGO_Black_Claim.png" />
      </div>
      <div class="column is-7">
        <p>
          Artus steht für ethische Korrektheit und soziales Engagement. Deshalb
          wird ein Teil der Unterstützungsbeiträge für einen guten Zweck
          gespendet. Wir arbeiten mit der Neven Subotic Stiftung zusammen, die
          Trinkwasserbrunnen und Sanitäranlagen in den ärmsten Gebieten Afrikas
          baut.
        </p>
        <br />
        <a
          href="https://nevensuboticstiftung.de/"
          target="_blank"
          class="button button-reverse is-rounded has-text-weight-semibold"
          >Zur Stiftung</a
        >
      </div>
    </div>
  </div>
</section>
