<section class="py-5 company-logo-slider">
  <div class="container my-6">
    <div class="columns has-text-centered has-text-weight-bold">
      <div class="column">
        <img src="/images/performance.png" alt="Performancegebühren" />
        <p>
          Keine<br />
          Performancegebühren
        </p>
      </div>
      <div class="column">
        <img src="/images/bonus.png" alt="Bonusauszahlungen" />
        <p>
          Keine hohen und unethischen<br />
          Bonusauszahlungen
        </p>
      </div>
      <div class="column">
        <img src="/images/invest.png" alt="Investitionsanonymität" />
        <p>
          Keine<br />
          Investitionsanonymität
        </p>
      </div>
    </div>

    <div class="has-text-centered my-6 pt-6">
      <h2 class="is-size-3 has-text-weight-semibold mb-5">Bekannt aus</h2>
      <p>
        Unser Fonds wird somit der erste Investmentfonds der<br />
        Welt, dessen positive Entwicklung Du aktiv mitgestalten<br />
        kannst.
      </p>
    </div>

    <div class="customer-logos slider">
      <div class="slide">
        <img src="/images/AirbnbLogo.png" class="img-fluid" alt="Airbnb Logo" />
      </div>
      <div class="slide">
        <img src="/images/AmazonLogo.png" class="img-fluid" alt="Amazon Logo" />
      </div>
      <div class="slide">
        <img src="/images/FedExLogo.png" class="img-fluid" alt="FedEx Logo" />
      </div>
      <div class="slide">
        <img
          src="/images/MicrosoftLogo.png"
          class="img-fluid"
          alt="Microsoft Logo"
        />
      </div>
      <div class="slide">
        <img src="/images/AirbnbLogo.png" class="img-fluid" alt="Airbnb Logo" />
      </div>
      <div class="slide">
        <img src="/images/AmazonLogo.png" class="img-fluid" alt="Amazon Logo" />
      </div>
      <div class="slide">
        <img src="/images/FedExLogo.png" class="img-fluid" alt="FedEx Logo" />
      </div>
      <div class="slide">
        <img
          src="/images/MicrosoftLogo.png"
          class="img-fluid"
          alt="Microsoft Logo"
        />
      </div>
    </div>
  </div>
</section>
