footer {
  background-color: $the_black;
  color: $footer_text_color;

  svg {
    .logo-brand,
    .logo-shield {
      fill: $sword_color;
    }
    .logo-sword {
      stroke: $logo_color;
      fill: $logo_color;
    }
  }

  .columns {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
  }

  .column-title {
    opacity: 0.4;
  }

  nav {
    a {
      display: block;
      color: $footer_text_color;
    }
    a:hover {
      color: $std_green !important;
    }
  }

  .sub {
    padding: {
      bottom: 2rem;
    }

    a {
      float: right;
      margin: {
        left: 2rem;
      }
      color: $footer_text_color;
    }
  }
}
